<!DOCTYPE html>
{% extends 'mlqda/base.html' %}
{% load static %}

{% block title_block%}
	About
{% endblock %}

{% block body_block %}
	<div class="maintext">
		This app is a container for a code to enable people to evaluate their 
		qualitaive data. Within the scope of this app, we used LDA topic modelling
		to identify topics in qualitive data similar to a thematic analysis. 
		</br></br>
		Our aim was to develop an app that would confirm a reserchers ideas
		about their dataset in a way that would be slightly more independent and 
		reproducable.
		</br></br>
		If you wish to read more about the idea to use machine learning algorithms
		to analyse qualitaive data or research papers that already used similar techniques
		you can read the following resources
		<h2>Resources</h2>
		<ul>
			<li> Crowston, K., Allen, E. E., & Heckman, R. (2012).
			Using natural language processing technology for qualitative data analysis.
			International Journal of Social Research Methodology, 15(6), 523-543 </li>
			<li> Parks, L., & Peters, W. (2022).
			Natural Language Processing in Mixed-methods Text Analysis:
			A Workflow Approach. International Journal of Social Research Methodology, 1-13. </li>
			<li> Ruelens, A. (2022).
			Analyzing user-generated content using natural language processing:
			a case study of public satisfaction with healthcare systems.
			Journal of Computational Social Science, 5(1), 731-749. </li>
			<li> Nti, I. K., Quarcoo, J. A., Aning, J., & Fosu, G. K. (2022).
			A mini-review of machine learning in big data analytics:
			Applications, challenges, and prospects.
			Big Data Mining and Analytics, 5(2), 81-97. </li>
		</ul>
	</div>
{% endblock %}
