<!DOCTYPE html>
{% extends 'mlqda/base.html' %}
{% load static %}

{% block title_block%}
	Contact
{% endblock %}

{% block body_block %}
	<div class="maintext">
		Your files are being processed currently. Please wait until we redirect you to your reslts page.
	</div>
	<div class="maintext">
		<form action="{% url 'mlqda:analyser-results' %}">
			<button type="submit" name="submit" class="general_button">
				<p class="button_text"> Get results </p>
			</button>
		</form>
	</div>
{% endblock %}
