<!DOCTYPE html>
{% extends 'mlqda/base.html' %}
{% load static %}

{% block title_block%}
	FAQ (Frequently Asked Questions)
{% endblock %}

{% block body_block %}
	<div class="flex-container" id="maintext">
		<h1>Frequently Asked Questions<br></h1>
		<h2>Overview</h2>
		<ul>
			<li>Why do I need to prepare my files?</li>
			<li>What pieces of text should I remove from my files?</li>
			<li>How do I remove these unnecessary texts?</li>
			<li>Is there a file limit?</li>
			<li>How does the site handle my uploaded files?</li>
			<li>How do I get my results?</li>
			<li>How do I download my results?</li>
			<li>How do I interpret my Topic Modelling/Thematic Analysis results?</li>
			<li>How do I interpret my Sentiment Analysis results?</li>
			<li>How do I open my results?</li>
			<li>Are there any caveats?</li>
		</ul>

		<h2>Why do I need to prepare my files?</h2>
		<p>
			The current implementation of the underlying machine learning script cannot identify
			the unnecessary parts of your text files. Identifying recurring snippets of raw text
			is essential but something outside the current scope of the software. Leaving these
			unnecessary texts in could lead to your results being wrong. For example, suppose you
			keep the pseudonym for the participant in the text. In that case, the script could
			pick it up as an important word for a topic because it is recurring often. However, in
			reality, the pseudonym of the participant does not carry meaningful information regarding
			the underlying topics of your data. For this reason, we ask you to remove any text that
			is not the text you want to analyse.
		<br>
		<strong>
			The current implementation does not support warnings if your
			text files are not prepared correctly.
		</strong>
		</p>

		
		<h2>What pieces of texts should I remove from my files?</h2>
		<p>
			Strictly speaking, any text that you do not wish to analyse.
			Most commonly, these include Speaker names, Interview/focus group questions,
			Page numbers, Headers, and Participant information.
		</p>
		

		<h2>How do I remove these unnecessary texts?</h2>
		<p>
			There are multiple ways to go on about this.
			The easiest way is to make a copy of your files and delete the lines that
			should not be included in the analysis. After deleting these lines, you can upload
			your new files on either the Sentiment Analyser or the Topic Modelling tab.
		</p>


		<h2>Is there a file limit?</h2>
		<p>
			Yes, there is a file limit.
			Currently, the host server has an allocated memory of 5 GB.
			As the site is still piloting, this limit should be more than enough for the users.
			Because the system automatically deletes the files, this limit only applies to any moment,
			not an overall constraint. For example, three separate users can upload 1 GB of files
			each at the same time. However, the server would terminate the uploads when the storage
			is full until there is enough space to upload your files. Conversely, a user is welcome
			to use the site regularly even if the cumulative size of the files is well over 1 GB or
			even 5 GB. The 1GB limit should be enough for an average user as it roughly translates
			to 10.000 documents or 50.000 pages across documents.
		</p>


		<h2>How does the site handle my uploaded files?</h2>
		<p>
			The site immediately deletes your files after processing them.
			After creating the results, all the references and variables using the
			content are also deleted. You can access the result file only while on the results page.
			Reaching the result page, you can delete the result files from the server.
			If you fail to do so, the server will store that one file for up to 6 hours.
			However, you will not be able to access these files after leaving/reloading the page.
			<br>
			<strong>
				Please ensure you save your results and click delete before exiting the page!
			</strong>
		</p>



		<h2>How do I get my results?</h2>
		<p>
			After uploading your files, the site should take you to a redirect page.
			Once the underlying machine learning script has analysed your results,
			the site automatically redirects you to the results page, where you can find your results.
		</p>
		

		<h2>How do I download my results?</h2>
		<p>
			You can access the most important results files from the download page
			individually or download every file in a zip folder.
		</p>
		

		<h2>How do I interpret my Topic Modelling/Thematic Analysis results?</h2>
		<p>
			Your results consist of multiple parts with varying levels of depth.
			You should receive a list of the most important words grouped by topic.
			These topics are not defined, so you need to deduct the content of the topics
			based on these words. Furthermore, you should receive a version of your original
			files where the sentences that contain one of the topic words are highlighted.
		</p>

		<h2>How do I interpret my Sentiment Analysis results?</h2>
		<p>
			Your results should include sentiment scores.
			These are present on the left-hand side of the table.
			The analyser uses compound sentiment scores calculated from positive,
			negative and neutral sentiment scores. The displayed scores range from -1 to 1,
			which you can interpret as percentages. For example, you can interpret a score
			of +0.25 as 25% positive sentiment. When compiling the document, the system calculates
			the sentiment score for every sentence.
		</p>
		<p>
			The document-wide aggregated sentiment scores are at the end of each section,
			while the corpora-wide sentiment score is at the final section.
			This way, you end up with an average sentiment score for each uploaded
			document and one average sentiment score for all of your documents.
		</p>
		

		<h2>How do I open my results?</h2>
		<p>The results come in easily accessible formats like .txt, .zip or .pdf files.</p>
		

		<h2>Are there any caveats?</h2>
		<p>
			The scope of this project is limited so far.
			There are a few caveats to keep in mind when using the site.
		</p>
		<ul>
			<li>
				Currently, only the following file formats are supported:
				.txt, .docx, .pdf, .csv, .xlsx.
			</li>
			<li>
				If you choose to upload a .txt, .docx or .pdf file,
				please keep in mind that you must upload at least two separate documents.
			</li>
			<li>
				The only dynamic aspect of the topic modelling feature is the number of topics.
				The appropriate number of topics is calculated based on the best coherence score.
			</li>
			<li>
				All other elements of LDA topic modelling apart from the number of topics
				are hard-coded and cannot be changed by the user.
			</li>
			<li>
				The sentiment analyser utilised in the script is a built-in functionality of the
				NLTK library. This sentiment analyser was trained on annotated Twitter data so that
				it might have different precision values on texts from other origins.
			</li>
		</ul>

	</div>
{% endblock %}
