body {
	background-image: url("../images/background.jpg");
	background-size: cover;
}

p {
  margin-top: 0%;
  margin-left: 25%;
  margin-right: 25%;
  margin-bottom: 0%;
}
.flex-container {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: flex-end;
  gap: 0px;
  width: 50%;
  align-self: right;
}

.flex-container > .topic_flex {
  display:flex;
  flex-wrap:wrap;
  flex-direction:row;
  overflow: auto;
}

.flex-container > .topic_flex > h2 {
  background-color: #13034A;
  width: 50%;
  margin: 0px;
  padding-top: 2.5%;
  padding-bottom: 2.5%;
  text-align: center;
}

.flex-container > .topic_flex > p {
  background-color: #13034A;
  width: 50%;
  margin: 0px;
  padding-bottom: 0%;
  padding-top: 0%;
  text-align: center;
}

.flex-container > h1 {
  background-color: #13034A;
  width: 100%;
  margin: 0px;
  padding-top: 5%;
  text-align: center;
}

.flex-container > h2 {
  background-color: #13034A;
  width: 100%;
  margin: 0px;
  padding-top: 5%;
  text-align: center;
}

.flex-container > h3 {
  background-color: #13034A;
  width: 100%;
  margin: 0px;
  text-align: center;
}

.flex-container > ul {
  background-color: #13034A;
  width: 100%;
  margin: 0px;
  text-align: left;
}

.flex-container > li {
  background-color: #13034A;
  width: 100%;
  margin: 0px;
  text-align: left;
}

.flex-container > p {
  background-color: #13034A;
  width: 100%;
  margin: 0px;
  padding-bottom: 5%;
  text-align: center;
}


.navbar {
  background-color: #FFF;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  height: 75px;
}

.navbar a {
  float: right;
  color: #000;
  text-align: center;
  padding: 20px 20px;
  text-decoration: none;
  font-size: 30px;
}

.navbar img {
  float: left;
  padding-left: 0;
}

.navbar a:hover {
  background-color: #003865;
  color: #FFF;
}

#maintext {
  color: #FFF;
  text-align: center;
  padding-left: 45%;
  padding-right: 2.5%;
  padding-top: 100px;
  font-size: 25px;
}

.file_upload {
  text-align:right;
}

.file_upload form {
  color: #FFF;
  padding-top: 2.5%;
}

.general_button {
  background-color: #FFF;
  padding: 1em;
  width: max-content;
  height: min-content;
  border-radius: 30px;
}

.general_button:hover{
    background-color: #003865;
}

.button_text{
    color: #000;
    font: bold;
}

.general_button:hover p{
    color: #FFF;
	font: bold;
}
